In [24]:
import yfinance as yf
import pandas as pd
import numpy as np

In [17]:
msft = yf.Ticker('MSFT')

In [26]:
df = msft.history(interval='1h', period='2y')

In [28]:
df['Log Returns'] = np.log(df.Close/df.Close.shift(1))

In [32]:
df = df.dropna()

In [33]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Log Returns
Date,,,,,,,,
2018-09-11,110.69,110.69,110.25,110.39,2006747,0.0,0,-0.002443
2018-09-11,110.40,111.44,110.40,111.17,3281967,0.0,0,0.007041
2018-09-11,111.18,111.25,110.62,110.79,1706383,0.0,0,-0.003424
2018-09-11,110.78,111.22,110.78,111.21,1451658,0.0,0,0.003784
2018-09-11,111.21,111.45,111.09,111.35,1804165,0.0,0,0.001258
...,...,...,...,...,...,...,...,...
2020-09-10,211.15,211.67,209.13,209.57,3007267,0.0,0,-0.007795
2020-09-10,209.58,209.90,207.85,208.91,2652238,0.0,0,-0.003154
2020-09-10,208.90,209.43,204.95,205.23,3612446,0.0,0,-0.017772
2020-09-10,205.17,206.82,204.11,205.38,5283613,0.0,0,0.000731
2020-09-10,205.35,206.78,204.90,205.35,4128564,0.0,0,-0.000146

In [35]:
df.loc['2018-09-11'	,:]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Log Returns
Date,,,,,,,,
2018-09-11,110.69,110.69,110.25,110.39,2006747,0.0,0,-0.002443
2018-09-11,110.40,111.44,110.40,111.17,3281967,0.0,0,0.007041
2018-09-11,111.18,111.25,110.62,110.79,1706383,0.0,0,-0.003424
2018-09-11,110.78,111.22,110.78,111.21,1451658,0.0,0,0.003784
2018-09-11,111.21,111.45,111.09,111.35,1804165,0.0,0,0.001258
2018-09-11,111.35,111.59,111.15,111.28,4517664,0.0,0,-0.000629

In [38]:
df['Log Cum Sum'] = df['Log Returns'].cumsum()

In [39]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Log Returns,Log Cum Sum
Date,,,,,,,,,
2018-09-11,110.69,110.69,110.25,110.39,2006747,0.0,0,-0.002443,-0.002443
2018-09-11,110.40,111.44,110.40,111.17,3281967,0.0,0,0.007041,0.004598
2018-09-11,111.18,111.25,110.62,110.79,1706383,0.0,0,-0.003424,0.001174
2018-09-11,110.78,111.22,110.78,111.21,1451658,0.0,0,0.003784,0.004958
2018-09-11,111.21,111.45,111.09,111.35,1804165,0.0,0,0.001258,0.006216
...,...,...,...,...,...,...,...,...,...
2020-09-10,211.15,211.67,209.13,209.57,3007267,0.0,0,-0.007795,0.638595
2020-09-10,209.58,209.90,207.85,208.91,2652238,0.0,0,-0.003154,0.635441
2020-09-10,208.90,209.43,204.95,205.23,3612446,0.0,0,-0.017772,0.617669
2020-09-10,205.17,206.82,204.11,205.38,5283613,0.0,0,0.000731,0.618399
2020-09-10,205.35,206.78,204.90,205.35,4128564,0.0,0,-0.000146,0.618253

In [56]:
df.index[0]

Timestamp('2018-09-11 00:00:00')

In [57]:
buys = []
sells = []
portfolio = 1000
evolution = df.iloc[0, -1]
buy = False

for i in range(1, len(df)):
    evolution += df.iloc[i, -2]
    if evolution  <= -0.04:
        buys.append([df.iloc[i, 3], df.index[i]])
        portfolio -= df.iloc[i, 3]
        evolution = 0
        buy = True
    
    if evolution <= -0.01 and buy:
        sells.append([df.iloc[i, 3], df.index[i]])
        portfolio += df.iloc[i, 3]
        evolution = 0
        buy = False

    if evolution >= 0.01 and buy:
        sells.append([df.iloc[i, 3], df.index[i]])
        evolution = 0
        portfolio += df.iloc[i, 3]
        buy = False

portfolio

1006.2

In [58]:
buys

[[106.3, Timestamp('2018-10-10 00:00:00')],
 [102.38, Timestamp('2018-10-24 00:00:00')],
 [102.75, Timestamp('2018-10-29 00:00:00')],
 [98.83, Timestamp('2018-12-21 00:00:00')]]

In [59]:
sells

[[107.47, Timestamp('2018-10-11 00:00:00')],
 [108.37, Timestamp('2018-10-25 00:00:00')],
 [104.06, Timestamp('2018-10-29 00:00:00')],
 [96.56, Timestamp('2018-12-24 00:00:00')]]

In [65]:
df[(df.index.isin([i[1] for i in buys])) & (df.Close.isin([i[0] for i in buys]))]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Log Returns,Log Cum Sum
Date,,,,,,,,,
2018-10-10,107.98,107.99,105.80,106.30,11654684,0.0,0,-0.015588,-0.040197
2018-10-24,104.00,104.35,101.60,102.38,12099457,0.0,0,-0.015892,-0.077771
2018-10-29,104.28,104.75,102.71,102.75,9142731,0.0,0,-0.014877,-0.074164
2018-12-21,101.33,101.36,98.71,98.83,8664716,0.0,0,-0.024488,-0.113061

In [66]:
df[(df.index.isin([i[1] for i in sells])) & (df.Close.isin([i[0] for i in sells]))]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Log Returns,Log Cum Sum
Date,,,,,,,,,
2018-10-11,107.22,107.88,105.94,107.47,7880497,0.0,0,0.002422,-0.029251
2018-10-25,106.45,109.25,106.18,108.37,22544618,0.0,0,0.056860,-0.020911
2018-10-29,102.70,104.16,101.63,104.06,10478628,0.0,0,0.012669,-0.061495
2018-12-24,97.70,97.95,94.58,96.56,16161424,0.0,0,-0.015517,-0.136298

In [68]:
def trading(df, portfolio, buy_, sell_):
    buys = []
    sells = []
    portfolio = portfolio
    evolution = df.iloc[0, -1]
    buy = False

    for i in range(1, len(df)):
        evolution += df.iloc[i, -2]
        if evolution  <= -buy_:
            buys.append([df.iloc[i, 3], df.index[i]])
            portfolio -= df.iloc[i, 3]
            evolution = 0
            buy = True
        
        if evolution <= -sell_ and buy:
            sells.append([df.iloc[i, 3], df.index[i]])
            portfolio += df.iloc[i, 3]
            evolution = 0
            buy = False

        if evolution >= sell_ and buy:
            sells.append([df.iloc[i, 3], df.index[i]])
            evolution = 0
            portfolio += df.iloc[i, 3]
            buy = False

    print(portfolio)

In [71]:
trading(df, 100000, 0.04, 0.01)

100006.19999999998